body.leaderboard-page {
    background: url('images/leaderboard.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    color: white;
    text-align: center;
}

#leaderboard-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 20px;
    width: 600px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ffcc00;
}

th {
    background-color: #ffcc00;
    color: black;
}

.back-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #e6b800;
}
